<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>developer</string>
    <key>signingStyle</key>
    <string>{{ "manual" if signing else "none" }}</string>
    {% if signing %}
    <key>provisioningProfiles</key>
    <dict>
        <key>{{ bundle_id }}</key>
        <string>{{ provisioning_profile }}</string>
    </dict>
    <key>signingCertificate</key>
    <string>{{ signing_certificate }}</string>
    {% endif %}
    <key>stripSwiftSymbols</key>
    <true/>
    <key>compileBitcode</key>
    <false/>
    <key>destination</key>
    <string>export</string>
</dict>
</plist>